 <form #userProfileForm="ngForm" (ngSubmit)="setProfile(userProfileForm)">
  <label>Name:</label>
  <input type="text" [(ngModel)]="userProfileForm.name" name="name" />
  <label>Contact Info:</label>
  <input type="text" [(ngModel)]="userProfileForm.contact" name="contactInfo" />
  <label for="">Bio:</label>
  <input type="text" [(ngModel)]="userProfileForm.bio" name="bio" />
  <button>Update Info</button>
</form>



<!-- <form novalidate #form="ngForm" (ngSubmit)="saveProfile(userProfile)" )>
  <label for="name"
    >Name:
    <input type="text" name="name" [(ngModel)]="userProfile.name" />
  </label>

  <label for="contact">
    Contact:
    <input type="text" name="contact" [(ngModel)]="userProfile.contact" />
  </label>

  <label for="bio">
    Bio:
    <input type="text" name="contact" [(ngModel)]="userProfile.contact" />
  </label>

  <button>Save Profile</button>
  console.log saveProfile
</form> -->
